# Backup files

\#*\#
.\#*

# Various other files

ac-comphist.dat
eproject.lst
srecode-map.el
tramp

# Directories

.cask/
.python-environments/
auto-save-list/
backups/
eshell/
elpa/
private/
semanticdb/

url/

# Compiled

*.elc
